<div class="dashboard-container mt-2">
  <div class="loadins-container d-flex flex-row">
    <div class="loadins-form-container col-md-2">
      <div class="card mb-4">
        <div class="card-body">
          <%= render 'dashboard/IN/components/loadin_form' %>
        </div>

      </div>
    </div>
    <div class="loadins-table-container col-md-10">
      <div class="search-and-number-rows-container d-flex flex-row align-items-center">
        <div id="select-loadin-rows" class="select-loadin-rows mr-1 p-1">
          <%= render 'dashboard/IN/components/select_loadin_rows' %>
        </div>
        <div id="search-box" class="search-box mb-1">
          <%= render 'dashboard/IN/components/search_box' %>
          <%#= submit_tag "Go", class: "btn btn-primary" %>

        </div>
        <a href="#" id="btnPrintTable" class=" ml-2 mb-1">
          <i class="fas fa-print" style="font-size: 1.5rem"></i>
        </a>
      </div>
      <table class="table printTable" id="load-in-table">
        <thead id="loadin-table-head">

            <%= render 'dashboard/IN/components/load_ins_table_head' %>
        </thead>
        <tbody id='loadin-list'>
          <%= render 'dashboard/IN/components/load_ins_rows' %>
        </tbody>
      </table>
      <div id="loadin-nav" class="nav d-flex flex-column ">
        <%= render 'dashboard/IN/components/nav_pagination' %>
      </div>
    </div>
  </div>
</div>





