<div class="dashboard-container">
  <div class="loadins-container d-flex flex-row">
    <div class="loadins-form-container col-md-3">
      <div class="card mb-4 p-2">
        <div class="card-body">
          <%= simple_form_for [@load_in] do |f| %>
            <%= f.association :t1_customer, label: false, input: T1Customer.all, selected: [0] %>
            <%= f.input :status, label: "Status", as: :radio_buttons, collection: ["IN", "OUT"], wrapper: :vertical_collection_inline %>
            <%= f.input :arrival_date, as: :string, input_html: {class: 'datepicker'}, label: false, placeholder: "arrival date?" %>
        <div class="d-flex justify-content-between">
          <div class="mr-1">
            <%= f.input :truck_nr, label: false, placeholder: "Truck_nr"%>
          </div>
          <div>
            <%= f.input :trailer_nr, label: false, placeholder: "Trailer_nr"%>
          </div>
        </div>
        <%= f.input :type_of_service, label: false, placeholder: "Type of service", as: :radio_buttons,  collection: ["Truck to Truck", "Truck Terminal Truck", "Picking"], wrapper: :vertical_collection_inline %>

        <label class="form-group string required" for="load_in_in_assignments_attributes_packer" id="packers-list" data-packers="<%= @packers.to_json %>" ></label>
        <input class="form-control" label ="false" type="text" placeholder="Packer number" id="packer-form" name="load_in[in_assignments_attributes][][packer_name]">
        <label class="string required" for="load_in_in_assignments_attributes_lot_nr"></label>
        <input class="form-control" label = "false" type="text" placeholder="Lot number" name="load_in[in_assignments_attributes][][lot_nr]">
        <label class="form-group string required" for="load_in_in_assignments_attributes_incoming_order_ref"></label>
        <input class="form-control" label = "false" type="text" placeholder="Incoming order Ref." name="load_in[in_assignments_attributes][][incoming_order_ref]">
        <label class=" form-group string required" for="load_in_in_assignments_attributes_other_ref"></label>
        <input class="form-control mb-2" label = "false" type="text" placeholder="Other Ref" name="load_in[in_assignments_attributes][][other_ref]">

        <%= f.button :submit, "Add", class: 'btn btn-success w-100' %>

        <% end %>
        </div>

        </div>
    </div>
    <div class="loadins-table-container col-md-9">
      <div class="search-and-number-rows-container d-flex flex-row">
        <div id="select-loadin-rows" class="select-loadin-rows mr-1 p-1">
                <%= render 'dashboard/components/select_loadin_rows' %>
          </div>
          <div class="search-box mb-1">
            <%= form_tag search_path, method: "post", remote: true  do %>
              <%= text_field_tag :query, '', placeholder: "search" %>
              <%= hidden_field_tag :page, @page %>
              <%#= submit_tag "Go", class: "btn btn-primary" %>
            <% end %>
          </div>
      </div>
          <table class="table table">
              <thead>
                <tr>
                  <th>Reference<%= link_to  "⬆︎", set_sort_path(sort: "reference DESC"), method: "post",remote: true %><%= link_to  "⬇︎", set_sort_path(sort: "reference ASC"), method: "post",remote: true %></th>
                  <th><%=  "Customer" %></th>
                  <th>Status<%= link_to  "⬆︎", set_sort_path(sort: "status DESC"), method: "post",remote: true %><%= link_to  "⬇︎", set_sort_path(sort: "status ASC"), method: "post",remote: true %></th>
                  <th>Type<%= link_to  "⬆︎", set_sort_path(sort: "type_of_service DESC"), method: "post",remote: true %><%= link_to  "⬇︎", set_sort_path(sort: "type_of_service ASC"), method: "post",remote: true %></th>
                  <th>Arrival date<%= link_to  "⬆︎", set_sort_path(sort: "arrival_date DESC"), method: "post",remote: true %><%= link_to  "⬇︎", set_sort_path(sort: "arrival_date ASC"), method: "post",remote: true %></th>
                  <th>Truck<%= link_to  "⬆︎", set_sort_path(sort: "truck_nr DESC"), method: "post",remote: true %><%= link_to  "⬇︎", set_sort_path(sort: "truck_nr ASC"), method: "post",remote: true %></th>
                  <th>Trailer<%= link_to  "⬆︎", set_sort_path(sort: "trailer_nr DESC"), method: "post",remote: true %><%= link_to  "⬇︎", set_sort_path(sort: "trailer_nr ASC"), method: "post",remote: true %></th>
                </tr>
              </thead>
              <tbody id='loadin-list'>
                  <%= render 'dashboard/components/load_ins_rows' %>
              </tbody>
            </table>
            <div id="loadin-nav" class="nav d-flex flex-column ">
              <%= render 'dashboard/components/nav_pagination' %>
            </div>
    </div>
  </div>
</div>




