<div class="dashboard-container mt-2">
  <div class="load_ins-container d-flex flex-row">
    <div class="load_ins-form-container col-md-2">
      <div class="card mb-4">
        <div class="card-body">
          <div id="load_in_form">
             <%= render 'dashboard/IN/components/load_in_form' %>
          </div>
        </div>
      </div>
    </div>
    <div class="load_ins-table-container col-md-10">
      <div class="search-and-number-rows-container d-flex flex-row align-items-baseline">
        <div id="select-load_in-rows" class="select-load_in-rows mr-1 p-1">
          <%= render 'dashboard/IN/components/select_load_in_rows' %>
        </div>
        <div id="search-box" class="search-box mb-1">
          <%= render 'dashboard/IN/components/search_box' %>
        </div>
      </div>
      <table class="table printTableFirst" id="load-in-table">
        <thead id="load_in-table-head">

            <%= render 'dashboard/IN/components/load_ins_table_head' %>
        </thead>
        <tbody id='load_in-list'>
          <%= render 'dashboard/IN/components/load_ins_rows' %>
        </tbody>
      </table>
      <div id="load_in-nav" class="nav d-flex flex-column ">
        <%= render 'dashboard/IN/components/nav_pagination' %>
      </div>
    </div>
  </div>
  <div class="load_outs-container d-flex flex-row">
    <div class="load_outs-form-container col-md-2">
      <div class="card mb-4">
        <div class="card-body">
          <div id="load_out_form">
            <%= render 'dashboard/OUT/components/load_out_form' %>
          </div>
        </div>
      </div>
    </div>
    <div class="load_outs-table-container col-md-10">
      <div class="search-and-number-rows-container d-flex flex-row align-items-baseline">
        <div id="select-load_out-rows" class="select-load_out-rows mr-1 p-1">
          <%= render 'dashboard/OUT/components/select_load_out_rows' %>
        </div>
        <div id="search-box" class="search-box mb-1">
          <%= render 'dashboard/OUT/components/search_box' %>
        </div>
      </div>
      <table class="table printTableSecond" id="load-out-table">
        <thead id="load_out-table-head">

            <%= render 'dashboard/OUT/components/load_outs_table_head' %>
        </thead>
        <tbody id='load_out-list'>
          <%= render 'dashboard/OUT/components/load_outs_rows' %>
        </tbody>
      </table>
      <div id="load_out-nav" class="nav d-flex flex-column ">
        <%= render 'dashboard/OUT/components/nav_pagination' %>
      </div>
    </div>
  </div>
</div>





