<% @load_in.in_assignments.each do |assignment| %>
<tr>
  <th scope="row"><%= assignment.reference %></th>
  <td><%= assignment.packer %></td>
  <td><%= assignment.lot_nr %></td>
  <td><%= assignment.incoming_order_ref %></td>
  <td><%= assignment.number_of_boxe %></td>
  <td><%= assignment.number_of_pallet %></td>
  <td><%=link_to '<i class="fas fa-pen"></i>'.html_safe, edit_modal_in_assignment_path(id: assignment), method: :post, remote: true %></td>
  <td><%=link_to '<i class="fas fa-trash-alt"></i>'.html_safe, in_assignment_path(id: assignment), method: :delete%></td>
</tr>
<% end %>
