<tr>
  <th scope="row"><%= @in_assignment.order_index %></th>
  <td><%= @in_assignment.reference %></td>
  <td><%= @in_assignment.packer %></td>
  <td><%= @in_assignment.lot_nr %></td>
  <td><%= @in_assignment.incoming_order_ref %></td>
  <td><%= @in_assignment.number_of_boxe %></td>
  <td><%= @in_assignment.number_of_pallet %></td>
  <td><%= @in_assignment.net_weight %></td>
  <td><%= @in_assignment.other_ref %></td>
  <td><%=link_to '<i class="fas fa-pen"></i>'.html_safe, edit_modal_in_assignment_path(id: @in_assignment), method: :post, remote: true %></td>
  <td><%=link_to '<i class="fas fa-trash-alt"></i>'.html_safe, in_assignment_path(id: @in_assignment), method: :delete, remote: true, data: {confirm: "Are you sure you want to delete this Assignment?"}%></td>
</tr>
