<div >
  <%= simple_form_for([@in_assignment], html: {class: "form-inline modal-form in-assignment-form-edit"}, remote: true) do |form| %>
  <div class="form-group col-md-12">
    <!-- <div class="row "> -->
      <%= form.input :packer, as: :string, label: false, placeholder: "Packer" %>
      <%= form.input :lot_nr, as: :string, label: false, placeholder: "Lot" %>
      <%= form.input :incoming_order_ref, as: :string, label: false, placeholder: "Incoming order" %>
      <%= form.input :number_of_boxe, as: :string, label: false, placeholder: "Boxes" %>

      <%= form.input :number_of_pallet, as: :string, label: false, placeholder: "Pallet" %>


      <%= form.button :submit, value:"update", class:"btn btn-success"%></td>
      <div id="in-assignment-form-edit-close">
        <button type="button" class="btn btn-outline-secondary ml-1 ">Close</button>
      </div>
    </div>
  </div>
  <% end %>

