
<div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <div id="load_out-delete-button">
          <%= button_to 'delete Load Out', load_out_path(id: @load_out, format: :pdf), method: :delete, data: {confirm: "Are you sure you want to delete this Load Out?"}, class:'btn btn-outline-danger'%>
        </div>
        <div id="load_out-update-button">
          <%= button_to 'update Load Out', edit_load_out_path(id: @load_out),method: :get, remote: true, class:'btn btn-outline-success ml-2'%>
        </div>
         <div id="load_out-print-button">
          <%= link_to 'Print', load_out_path(@load_out, format: :pdf), target: "_blank",method: :get, class:'btn btn-outline-primary ml-2'%>
        </div>
        <!-- <button id="btnPrint" type="button" class="btn btn-outline-primary ml-2">Print</button> -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="printModal" >
        <%= content_tag :div, class: 'div-load_out', id: dom_id(@load_out) do %>
         <%= render 'dashboard/OUT/components/load_out_modal/detail_load_out_global' %>
        <% end %>
       <div>
        <h6><strong>Assignments Details: </strong></h6>
        <%=link_to '<i class="far fa-plus-square mr-1"></i>Add an Assignment'.html_safe, create_modal_out_assignment_path(load_out: @load_out), method: :post, remote: true%>
      </div>


      <table class="table table-bordered modal-out-assignment">
        <thead>
          <tr>
            <th>Position</th>
            <th>Ref</th>
            <th>Packer</th>
            <th>Recipient</th>
            <th>Lot</th>
            <th>Incoming Order</th>
            <th>Boxes</th>
            <th>Pallet</th>
            <th>Net Weight</th>
            <th>Cost</th>
            <th>Divers Cost</th>
            <th>other Ref.</th>
          </tr>
        </thead>
        <tbody class="modal-out-assignment-list">
          <%= render 'dashboard/OUT/components/out_assignment_modal/detail_load_out_out_assignment_rows' %>
        </tbody>
      </table>

    </div>
    <div class="modal-footer">

    </div>
  </div>
</div>
</div>

