<tr class="out-assignment-rows out_assignments-<%= @out_assignment.id %> collapse" id="accordeon-load_out-<%= @load_out.id %>">
  <td></td>
  <td colspan="3"><%= @out_assignment.reference %></td>
  <td><%= @out_assignment.lot_nr %></td>
  <td><%= @out_assignment.packer %></td>
  <td><%= @out_assignment.number_of_boxe %></td>
  <td><%= @out_assignment.net_weight %></td>
  <td><%= @out_assignment.number_of_pallet %></td>
  <td ><%= @out_assignment.incoming_order_ref %></td>
  <td ><%= @out_assignment.incoming_transport_ref %></td>
  <td></td>
</tr>
