<h6><strong>Incoming Trip Details: </strong></h6>
<%= simple_form_for([@load_in],remote: true) do |form| %>
  <div class="row">
    <div class="col-md-4 modal-detail load_in-company" >
      <h6>Company name:</h6>
      <div class="form-group col-md-12">
          <% if current_user.admin == true %>
      <%= form.association :t1_customer, label: "Select customer",collection: T1Customer.where.not("id = ?", current_user.t1_customer_id) %>
      <% else %>
      <p><%=@load_in.t1_customer.name%></p>
      <% end %>
      </div>
    </div>
    <div class="col-md-4 modal-detail load_in-arrival">
      <h6>Arrival date:</h6>
      <%= form.input :arrival_date, as: :datetime, label: false, placeholder: "arrival date?" %>
    </div>
    <div class="col-md-4 modal-detail status">
      <%= form.input :type_of_service,label: "Type of service:",as: :radio_buttons, collection: LoadOut.type_of_services.keys.map { |w| [w.humanize.upcase, w] }, wrapper: :vertical_collection_inline%>
      <%= form.input :status,label: "Status:",as: :radio_buttons, collection: LoadOut.statuses.keys.map { |w| [w.humanize.upcase, w] }, wrapper: :vertical_collection_inline%>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-2 modal-detail reference">
      <h6>Trip Number:</h6>
      <p><%=@load_in.reference%></p></div>
    <div class="col-md-2 modal-detail truck">
      <h6>Truck Number:</h6>
      <%= form.input :truck_nr, label: false, placeholder: "Truck_nr"%>
      <h6>Trailer Number:</h6>
      <%= form.input :trailer_nr, label: false, placeholder: "Trailer_nr"%>
    </div>
     <div class="col-md-8 modal-detail note">
      <h6>Outgoing Ref:</h6>
      <%= form.input :trip_ref, label: false, placeholder: "add details on outgoing trip"%>
      <h6>Note:</h6>
      <%= form.input :note, label: false, as: :text, placeholder: "add a Note"%>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-3 d-flex flex-row">
      <%= form.button :submit, value:"update Load In", class:"btn btn-success mb-2"%>
      <div id="load_in-form-edit-close">
           <button type="button" class="btn btn-outline-secondary ml-1 ">Close</button>
        </div>
    </div>
  </div>
 <% end %>







