
<div class="row">
  <div class="col-md-4 modal-detail load_in-company" >
    <h6>Company name:</h6>
    <p><%=@load_in.t1_customer.name%></p>
    <h6>Total Weight of the load:</h6>
    <p><%=@load_in.total_weight%></p>
  </div>
  <div class="col-md-4 modal-detail load_in-arrival"><h6>Arrival date:</h6>
    <% if @load_in.arrival_date %>
    <p><%=@load_in.arrival_date.strftime("%d/%m/%Y %H:%M")%></p>
    <% else %>
    <p><%=@load_in.arrival_date%></p>
     <% end %>
  </div>
  <div class="col-md-4 modal-detail status"><h6>Status:</h6>
    <p><%=@load_in.status%></p>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-2 modal-detail reference">
    <h6>Reference:</h6>
    <p><%=@load_in.reference%></p>
  </div>
  <div class="col-md-2 modal-detail truck">
    <h6>Truck Number:</h6>
    <p><%=@load_in.truck_nr%></p>
    <h6>Trailer Number:</h6>
    <p><%=@load_in.trailer_nr%></p>
  </div>
  <div class="col-md-8 modal-detail note">
    <h6>Note:</h6>
    <p><%=@load_in.note%></p>
  </div>
</div>


