<div>
  <p><%= "There is a total of #{@total_load_ins} Load In" %></p>
</div>
<div>
  <button class="btn btn-outline-secondary"><%= link_to 'First', set_page_path(page: 1, sort: @sort, loadin_rows: @rows_per_page), method: :patch, remote: true %>
  </button>
  <button class="actual-page-number btn btn-outline-secondary"><%= link_to "#{@page.to_i} /#{@total_pages}", set_page_path(page: 1) %>
  </button>
  <% if @page.to_i <= 1 %>
  <%=''%>
  <% else %>
  <button class="btn btn-outline-secondary"><%= link_to 'Previous', set_page_path(page: @page.to_i - 1, sort: @sort, loadin_rows: @rows_per_page), method: :patch, remote: true %>
  </button>
  <% end %>
  <% if @page.to_i == @total_pages %>
  <%=''%>
  <% else %>
  <button class="btn btn-outline-secondary"><%= link_to 'Next', set_page_path(page: @page.to_i + 1, sort: @sort, loadin_rows: @rows_per_page), method: :patch, remote: true %>
  </button>
  <% end %>
  <button class="btn btn-outline-secondary"><%= link_to 'Last', set_page_path(page: @total_pages, sort: @sort, loadin_rows: @rows_per_page), method: :patch, remote: true %>
  </button>
</div>


