
<div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <div id="load_in-delete-button">
          <%= button_to 'delete Load In', load_in_path(id: @load_in), method: :delete, data: {confirm: "Are you sure you want to delete this Load In?"}, class:'btn btn-outline-danger'%>
        </div>
        <div id="load_in-update-button">
          <%= button_to 'update Load In', edit_load_in_path(id: @load_in),method: :get, remote: true, class:'btn btn-outline-success ml-2'%>
        </div>
        <div id="load_out-print-button">
          <%= button_to 'Print', load_in_path(@load_in,format: :pdf),method: :get,  class:'btn btn-outline-primary ml-2'%>
        </div>
      <!--   <button id="btnPrint" type="button" class="btn btn-outline-primary ml-2">Print</button> -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="printModal" >
        <%= content_tag :div, class: 'div-load_in', id: dom_id(@load_in) do %>
         <%= render 'dashboard/IN/components/load_in_modal/detail_load_in_global' %>
        <% end %>
       <div>
        <%=link_to '<i class="far fa-plus-square mr-1"></i>Add an Assignment'.html_safe, create_modal_in_assignment_path(load_in: @load_in), method: :post, remote: true%>
      </div>


      <table class="table table-bordered modal-in-assignment">
        <thead>
          <tr>
            <th>Index</th>
            <th>Ref</th>
            <th>Packer</th>
            <th>Recipient</th>
            <th>Lot</th>
            <th>Incoming Order</th>
            <th>Boxes</th>
            <th>Pallet</th>
            <th>Net Weight</th>
            <th>other Ref.</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody class="modal-in-assignment-list">
          <%= render 'dashboard/IN/components/in_assignment_modal/detail_load_in_in_assignment_rows' %>
        </tbody>
      </table>

    </div>
    <div class="modal-footer">

    </div>
  </div>
</div>
</div>

