
<% if !@load_in.in_assignments.nil? %>
<tr class="in-assignment-title collapse show" id="accordeon-load_in-<%= @load_in.id %>">
  <th></th>
  <th colspan="3">In Assignment Number</th>
  <th>Lot Nr</th>
  <th>Packer</th>
  <th>Boxes</th>
  <th>Net weight</th>
  <th>Pallet</th>
  <th>Order Ref.</th>
  <th>Inco. Transport Ref.</th>
  <th>Other Ref.</th>
  <th></th>
</tr>

<% @load_in.in_assignments.each do |assignment| %>
<tr class="in-assignment-rows in_assignment_row_single-<%= assignment.id %> collapse show" id="accordeon-load_in-<%= @load_in.id %>">
  <td></td>
  <td colspan="3"><%= assignment.reference %></td>
  <td><%= assignment.lot_nr %></td>
  <td><%= assignment.packer %></td>
  <td><%= assignment.number_of_boxe %></td>
  <td><%= assignment.net_weight %></td>
  <td><%= assignment.number_of_pallet %></td>
  <td ><%= assignment.incoming_order_ref %></td>
  <td ><%= assignment.incoming_transport_ref %></td>
  <td><%= assignment.other_ref %></td>

  <td></td>
</tr>
<% end %>
<% end %>
