<tr class="in-assignment-rows in_assignments-<%= @in_assignment.id %> collapse" id="accordeon-load_in-<%= @load_in.id %>">
  <td></td>
  <td colspan="3"><%= @in_assignment.reference %></td>
  <td><%= @in_assignment.lot_nr %></td>
  <td><%= @in_assignment.packer %></td>
  <td><%= @in_assignment.number_of_boxe %></td>
  <td><%= @in_assignment.net_weight %></td>
  <td><%= @in_assignment.number_of_pallet %></td>
  <td ><%= @in_assignment.incoming_order_ref %></td>
  <td ><%= @in_assignment.incoming_transport_ref %></td>

  <td></td>
</tr>
