<h5><strong>Register</strong> Incoming</h5>
<%= simple_form_for [@load_in], :remote => true  do |f| %>
<% if current_user.admin == true %>
<%= f.association :t1_customer, label: "Select customer",collection: T1Customer.where.not("id = ?", current_user.t1_customer_id) %>
<% else %>
<%= f.hidden_field :t1_customer, value: current_user.t1_customer_id%>
<% end %>
<%= f.input :status,label: "Status:",as: :radio_buttons, collection: LoadIn.statuses.keys.map { |w| [w.humanize.upcase, w] }, wrapper: :vertical_collection_inline, checked: :out%>
<%= f.input :type_of_service,label: "Type of service:",as: :radio_buttons, collection: LoadIn.type_of_services.keys.map { |w| [w.humanize.upcase, w] }, wrapper: :vertical_collection_inline, checked: :truck_to_truck %>
<%= f.input :arrival_date, as: :string, input_html: {class: 'datepicker'}, label: false, placeholder: "arrival date?" %>
<%= f.input :note, label: false,as: :text, placeholder: "add a note"%>

<div class="d-flex justify-content-between">
  <div class="mr-1">
    <%= f.input :truck_nr, label: false, placeholder: "Truck_nr"%>
  </div>
  <div>
    <%= f.input :trailer_nr, label: false, placeholder: "Trailer_nr"%>
  </div>
</div>
<%= f.input :trip_ref, label: false, placeholder: "Outgoing Ref."%>
<a class="m-2" data-toggle="collapse" href="#form_assignment" role="button" aria-expanded="false" aria-controls="form_assignment"><i class="fas fa-plus-circle mr-2 my-2"></i>Add Assignment infos</a>
<div class="collapse" id="form_assignment">
  <div class="d-flex justify-content-between">
    <div class="mr-1">
      <label class="string required" for="load_in_in_assignments_attributes_number_of_boxe"></label>
      <input class="form-control" label = "false" type="text" placeholder="Box nr" name="load_in[in_assignments_attributes][][number_of_boxe]" value = "<%= @load_in.in_assignments.first.number_of_boxe%>">
      <% if @load_in.errors["in_assignments.number_of_boxe"].present?  %>
      <div class="invalid-message"><%= @load_in.errors["in_assignments.number_of_boxe"][0] %></div>
      <% end %>
    </div>
    <div>
      <label class="string required" for="load_in_in_assignments_attributes_net_weight"></label>
      <input class="form-control" label = "false" type="text" placeholder="Net weight" name="load_in[in_assignments_attributes][][net_weight]" value = "<%= @load_in.in_assignments.first.net_weight%>">
      <% if @load_in.errors["in_assignments.net_weight"].present?  %>
      <div class="invalid-message"><%= @load_in.errors["in_assignments.net_weight"][0] %></div>
      <% end %>
    </div>
  </div>
  <label class="form-group string required" for="load_in_in_assignments_attributes_packer" id="packers-list" data-packers="<%= @packers.to_json %>" ></label>
  <input class="form-control" label ="false" type="text" placeholder="Packer number" id="packer-form" name="load_in[in_assignments_attributes][][packer]" value = "<%= @load_in.in_assignments.first.packer%>">
  <% if @load_in.errors["in_assignments.packer"].present? %>
  <div class="invalid-message"><%="#{@load_in.errors["in_assignments.packer"][0]}"%></div>
  <% end %>
  <label class="string required" for="load_in_in_assignments_attributes_lot_nr"></label>
  <input class="form-control" label = "false" type="text" placeholder="Lot number" name="load_in[in_assignments_attributes][][lot_nr]" value = "<%= @load_in.in_assignments.first.lot_nr%>" >
  <% if @load_in.errors["in_assignments.lot_nr"].present? %>
  <div class="invalid-message"><%="#{@load_in.errors["in_assignments.lot_nr"][0]}"%></div>
  <% end %>
  <label class="form-group string required" for="load_in_in_assignments_attributes_incoming_order_ref"></label>
  <input class="form-control" label = "false" type="text" placeholder="Order Ref." name="load_in[in_assignments_attributes][][incoming_order_ref]" value = "<%= @load_in.in_assignments.first.incoming_order_ref%>">
  <% if @load_in.errors["in_assignments.incoming_order_ref"].present? %>
  <div class="invalid-message"><%="#{@load_in.errors["in_assignments.incoming_order_ref"][0]}"%></div>
  <% end %>
  <label class="form-group string required" for="load_in_in_assignments_attributes_incoming_transport_ref"></label>
  <input class="form-control" label = "false" type="text" placeholder="Inco. Transport Ref." name="load_in[in_assignments_attributes][][incoming_transport_ref]" value = "<%= @load_in.in_assignments.first.incoming_transport_ref%>">
  <% if @load_in.errors["in_assignments.incoming_transport_ref"].present? %>
  <div class="invalid-message"><%="#{@load_in.errors["in_assignments.incoming_transport_ref"][0]}"%></div>
  <% end %>
  <label class=" form-group string required" for="load_in_in_assignments_attributes_other_ref"></label>
</div>
<a class="m-2" data-toggle="collapse" href="#form_out_assignment" role="button" aria-expanded="false" aria-controls="form_out_assignment"><i class="fas fa-plus-circle mr-2 my-2"></i>Add Truck Out infos</a>
<div class="collapse" id="form_out_assignment">
  <div><%= text_field_tag([:load_out_truck_nr], "", class:'form-group form-control mb-1', placeholder:"truck nr") %></div>
  <div><%= text_field_tag([:load_out_trailer_nr], "", class:' form-group form-control mb-1',placeholder:"trailer nr")%></div>
  <div><%= text_field_tag([:load_out_trip_ref], "", class:' form-group form-control mb-1',placeholder:"Ref Display in Outgoing")%></div>
</div>
<%= f.button :submit, "Add", class: 'btn btn-success w-100'%>
<%#= f.submit "Search", class: "btn btn-primary" %>

<% end %>

