<tr id="load_in_row_single-<%= @load_in.id %>">
  <td class="load-in-list-div clickable" id="load_ins_rows-<%= @load_in.id %>" data-toggle="collapse" data-target="#accordeon-<%= @load_in.id %>"><i class="far fa-plus-square"></i></td>


  <td><%= @load_in.truck_nr %></td>
  <td><%= @load_in.trailer_nr %></td>
  <td><%= @load_in.total_weight %></td>
  <td><%= @load_in.status %></td>
  <td><%= @load_in.type_of_service %></td>
  <td><%= @load_in.t1_customer.name %></td>
  <%if @load_in.arrival_date != nil %>
  <td><%= @load_in.arrival_date.strftime("%d/%m/%Y %H:%M") %></td>
  <%else%>
  <td><%= @load_in.arrival_date %></td>
  <%end%>
  <td><%= @load_in.reference  %></td>


  <td><%= link_to '<i class="fas fa-ellipsis-h"></i>'.html_safe, set_modal_load_in_path(load_in: @load_in), method: :post, remote: true %></td>
</tr>
