<%= form_with url: search_load_in_path, method: :post do |form| %>
  <div class="bg-light p-1">
  <form class="form" id="search-query" >
    <div class="form-inline" >
    <%= form.text_field :query, placeholder: "search", class:"form-control ml-2" %>
    <div>
    <button class="btn btn-sm btn-outline-success m-2 my-sm-0" type="submit">Search</button>
    <%= link_to('Clear', clear_search_load_in_path(sort: @sort, rows_per_page: @rows_per_page, page: @page),method: :post, remote: true, class:'btn btn-sm btn-outline-secondary') %>
    <a class="m-2" data-toggle="collapse" href="#search_load_in" role="button" aria-expanded="false" aria-controls="search_load_in"><i class="fas fa-filter"></i></a>
    <a href="#firstTable" id="btnPrintTableFirst" class=" mx-2"><i class="fas fa-print" style="font-size: 1.2rem"></i></a>
    </div>
    </div>

    <div class="form-inline">
      <%= check_box_tag(:last_week,true, false, class:'ml-2 mt-2 mr-1')%>
      <%= label_tag(:last_week, "last week result only", class:"mt-2 ml-1 text-secondary") %>
      <%= check_box_tag(:remove_done,true, false, class:'ml-2 mt-2 mr-1')%>
      <%= label_tag(:remove_done, "Remove trip with DONE status", class:"mt-2 ml-1 text-secondary") %>
    </div>
    <div class="collapse" id="search_load_in">
      <div class="form-group form-inline">
        <div><%= form.text_field :truck_nr, placeholder: "truck number", class:"form-control mx-2 mt-2" %></div>
        <div><%= form.text_field :trailer_nr, placeholder: "trailer number", class:"form-control mt-2" %></div>
      </div>
      <div class=" form-group form-inline">
        <div><%= form.number_field :total_weight, placeholder: "net weight", class:"form-control mx-2 " %>
        </div>
        <div><%= select_tag(:type_of_service, options_for_select(LoadIn.type_of_services.keys.map { |w| [w.humanize.upcase, w]}),include_blank:"ALL TYPES", class:"form-control ") %>
        </div>
      </div>
       <div class=" form-group form-inline">
        <div class="form-check form-check-inline"><%= radio_button_tag(:status, :in,false, class:" ml-2")%><%= label_tag(:status, "IN", class:" mx-1") %><%= radio_button_tag(:status, :out,false,class:" ml-1", checked: false) %><%= label_tag(:status, "OUT", class:" ml-1") %><%= radio_button_tag(:status, :done,false,class:" ml-1", checked: false) %><%= label_tag(:status, "DONE", class:" ml-1 mr-2") %>
        </div>
        <% if current_user.admin == true %>
        <div><%= select_tag(:t1_customer, options_from_collection_for_select(T1Customer.all, :id, :name),include_blank:"ALL CUSTOMERS", class:"form-control ml-4 ") %>
        </div>
        <% else %>
        <%= form.hidden_field :t1_customer,value: current_user.t1_customer_id%>
        <% end %>
      </div>
        <div class=" form-group form-inline">
        <div class="mx-2">
          <%= form.text_field  :start_date, class:"datepicker", label: false, placeholder: "from" %>
        </div>
        <div>
          <%= form.text_field  :end_date, class:"datepicker", label: false, placeholder: "to" %>
        </div>

      </div>
    </div>
  <%= form.hidden_field :sort, value: @sort %>
  <%= form.hidden_field :rows_per_page,value: @rows_per_page %>
</form>
</div>
<% end %>
