<%= simple_form_for([@load_out],remote: true) do |form| %>
  <div class="row">
    <div class="col-md-4 modal-detail load_out-company" >
      <h6>Company name:</h6>
      <div class="form-group col-md-12">
        <%= form.association :t1_customer, label: false, input: T1Customer.all, selected: [@load_out.t1_customer_id] %>
      </div>
    </div>
    <div class="col-md-4 modal-detail load_out-arrival">
      <h6>Departure date:</h6>
      <%= form.input :departure_date, as: :datetime, label: false, placeholder: "departure date?" %>
    </div>
    <div class="col-md-4 modal-detail status">
      <%= form.input :status, label: "Status", as: :radio_buttons, collection: ["IN", "OUT"], wrapper: :vertical_collection_inline %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-2 modal-detail reference">
      <h6>Reference:</h6>
      <p><%=@load_out.reference%></p></div>
    <div class="col-md-2 modal-detail truck">
      <h6>Truck Number:</h6>
      <%= form.input :truck_nr, label: false, placeholder: "Truck_nr"%>
      <h6>Trailer Number:</h6>
      <%= form.input :trailer_nr, label: false, placeholder: "Trailer_nr"%>
    </div>
     <div class="col-md-8 modal-detail note">
      <h6>Note:</h6>
      <%= form.input :note, label: false, as: :text, placeholder: "add a Note"%>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-3 d-flex flex-row">
      <%= form.button :submit, value:"update Load In", class:"btn btn-success mb-2"%>
      <div id="load_out-form-edit-close">
           <button type="button" class="btn btn-outline-secondary ml-1 ">Close</button>
        </div>
    </div>
  </div>
 <% end %>







