<div class="pdf" >
  <div class="pdf-container pt-1">
    <% @total_number_of_boxe = 0 %>
    <% @total_number_of_pallet = 0 %>
    <% @total_net_weight = 0 %>
    <% @counter = 0 %>
    <% @load_out.out_assignments.order("order_index ASC").each do |assignment| %>
    <% if @counter > 1 && @counter % 3 == 0 %>
        <div style=" page-break-before: always;"></div>
      <% end %>
    <div class="assignement-detail" style="page-break-inside: avoid;">
      <div class="d-flex line-bold"></div>
      <div class="row text-bold ml-3">
        <div class="col-2" >
          <p><%= assignment.order_index %></p>
        </div>
        <div class="col-2" >
          <p><%= assignment.reference %></p>
        </div>
        <div class="col-2" >
          <p ><%= assignment.packer %></p>
          <% if packer = Packer.find_by(packer_nr: assignment.packer)%>
          <p><%="#{packer.address&.street_nr}, #{packer.address&.street}" %></p>
          <p><%="#{packer.address&.postcode}, #{packer.address&.city}" %></p>
          <p><%="#{packer&.address&.country}"%></p>
          <% end %>
        </div>
        <div class="col-2" >
          <% if recipient = Recipient.find_by(id: assignment.recipient_id)  %>
          <p ><%= recipient.name %></p>
          <p><%="#{recipient.address&.street_nr} #{recipient.address&.street}" %></p>
          <p><%="#{recipient.address&.postcode} #{recipient.address&.city}" %></p>
          <p><%="#{recipient.address&.country}"%></p>
          <% end %>
        </div>
      </div>
      <div class="row ml-3 mt-1">
        <div class="col-2">
          <p class="title">MARKED:</p>
          <% if assignment.incoming_order_ref.present?  %>
          <p class="text-bold">Order Ref. : <%= assignment.incoming_order_ref %></p>
          <% end %>
          <% if assignment.incoming_transport_ref.present?  %>
          <p class="text-bold">Inco. Transport Ref : <%= assignment.incoming_transport_ref %></p>
          <% end %>
          <% if assignment.other_ref.present?  %>
          <p class="text-bold">Other Ref. : <%= assignment.other_ref %></p>
          <% end %>
        </div>
        <div class="col-2">
          <p class="title">BOXES:</p>
          <p class="text-bold"><%= assignment.number_of_boxe %></p>
        </div>
        <div class="col-2">
          <p class="title">PALLET:</p>
          <p class="text-bold"><%= assignment.number_of_pallet %></p>
        </div>
        <div class="col-2">
          <p class="title">NET WEIGHT:</p>
          <p class="text-bold"><%= assignment.net_weight %></p>
        </div>
        <div class="col-4">
          <p class="title">NOTE:</p>
          <p class="text-bold"><%= assignment.note%></p>
        </div>
      </div>
      <div class="d-flex line-bold mb-3"></div>

    </div>

    <% if assignment.number_of_boxe == nil %>
    <% else %>
    <% @total_number_of_boxe += assignment.number_of_boxe %>
    <% end %>
    <% if assignment.number_of_pallet == nil %>
    <% else %>
    <% @total_number_of_pallet += assignment.number_of_pallet %>
    <% end %>
    <% if assignment.net_weight == nil %>
    <% else %>
    <% @total_net_weight += assignment.net_weight %>
    <% end %>
     <% @counter += 1 %>
    <% end %>
    <div class="row ml-3">
      <div class="col-2">
        <p class="text-bold">Total for this load:</p>
      </div>
      <div class="col-2">
        <p class="text-bold"><%= @total_number_of_boxe %></p>
      </div>
      <div class="col-2">
        <p class="text-bold"><%= @total_number_of_pallet %></p>
      </div>
      <div class="col-2">
        <p class="text-bold"><%= @total_net_weight %></p>
      </div>
    </div>
    <div class="d-flex line-extra-bold "></div>
    <div class="row mx-3" style="page-break-inside: avoid;">
      <div class="col-6 mt-3">
        <p class="my-3 py-3">Seal number:____________________________________________________________________</p>
        <p class="my-3 py-3">Signature Terminal 1:___________________________________________________________</p>
        <p class="my-3 py-3"><%="Signature Driver of [#{@load_out.truck_nr}] / [#{@load_out.trailer_nr}]:________________________________________"%></p>
      </div>
      <div class="col-6 my-3 py-3">
        <p>Information about the trip:</p>
        <p><%=@load_out.note%></p>
      </div>
    </div>
  </div>
</div>
